{{!--############### NAV BAR SECTION ############################--}}

<nav style="background-color:#428AFF;">
   <div class="nav-wrapper">
      <a href="#" class="brand-logo">Blue Circle</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="sass.html">About</a></li>
         <li><a href="badges.html">Blog</a></li>
         <li><a href="collapsible.html">Contact</a></li>
      </ul>
   </div>
</nav>

<div>
 ######################  ADD CAROUSEL HERE ########################

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis justo eget massa scelerisque imperdiet. Sed pellentesque lacus quis urna vulputate aliquam. In non diam at lorem rutrum laoreet ac vel erat. Nunc euismod porttitor luctus. Proin odio tortor, condimentum eget aliquet at, ultricies at urna. Phasellus rhoncus blandit ligula id fermentum. Quisque luctus nulla eget tempus iaculis. Nulla nec mattis tellus, vitae interdum elit. Cras nec lacus sed leo tincidunt posuere. Duis a leo sagittis, vestibulum velit et, cursus lacus. Fusce vehicula nulla quam, ac ullamcorper nibh tristique lacinia. Pellentesque a finibus lorem. Nam elit est, sollicitudin sit amet ultricies a, fermentum eu mi. In sed lobortis magna.

Quisque vitae mattis quam, ut elementum urna. Pellentesque eleifend congue metus, nec mattis lacus lobortis accumsan. Aliquam semper varius consequat. Sed luctus molestie suscipit. Morbi ultricies tincidunt leo quis sodales. Ut bibendum nulla consequat, dapibus eros sed, ornare neque. Suspendisse potenti. Fusce et sem hendrerit, rutrum diam eu, suscipit justo. Aliquam lobortis arcu et mi suscipit elementum. In ante risus, facilisis non dictum ut, egestas quis risus.

Vivamus aliquam ultrices feugiat. Integer ut pellentesque velit. Curabitur iaculis sagittis dui, luctus rutrum quam blandit a. In hac habitasse platea dictumst. In sit amet quam ultricies, iaculis leo ac, aliquet massa. Praesent posuere suscipit sem a aliquet. Aliquam aliquam vitae tellus at vestibulum. Etiam molestie maximus ligula, eu pellentesque magna interdum vitae. Praesent tincidunt mi risus.

Donec mollis mollis commodo. Morbi vitae aliquet est. Maecenas vel massa pellentesque, mattis diam ac, convallis dui. Fusce convallis mauris fermentum finibus ullamcorper. Aenean posuere sem vitae pretium suscipit. Morbi tincidunt, ante et vehicula iaculis, est justo pretium neque, id hendrerit elit diam nec sem. Aenean purus neque, pretium ac convallis at, dignissim in risus. Fusce quis leo arcu. Praesent nec nunc magna. Fusce orci nisl, vehicula a nisi vitae, eleifend ultricies enim. Etiam id risus non enim aliquam porta ac et tellus. Morbi id pharetra turpis, in blandit ante. Nulla consectetur dapibus ligula ut mollis. Cras in leo ut risus dapibus gravida. Ut ornare elementum mattis.

Donec quis dui et sapien efficitur ultricies. Vestibulum nec finibus leo. Proin sed vestibulum eros, vulputate aliquam nisi. Sed imperdiet neque felis, et mollis nulla cursus a. Nunc nec erat in mi gravida rutrum sit amet ac arcu. In volutpat ligula at lorem vulputate, vitae tincidunt ex sagittis. Pellentesque sit amet lorem finibus, lobortis lorem sed, auctor ipsum. Vestibulum fermentum, velit ac convallis luctus, nunc quam tincidunt libero, sit amet tempus purus ex non dolor. Nunc id odio nunc. Sed eu ultricies mauris. Phasellus turpis ante, interdum tristique rutrum eu, varius eget elit. 
</p>
</div>
{{outlet}}

{{!--#################### FOOTER SECTION ############################--}}

<footer class="page-footer" style="background-color:#428AFF;">
   <div class="container">
      <div class="row">
         <div class="col l6 s12">
            <h5 class="white-text">Blue Circle</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
         </div>
         <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
               <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="footer-copyright">
      <div class="container">
         © 2014 Copyright Text
         <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
   </div>
</footer>



            